@font-face {
    src:url('../css/Roboto-Regular.ttf');
    font-family: 'Roboto';
}

body {
    font-family: Roboto,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(42, 134, 86); /* rgb(42, 134, 100) */
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
}

fieldset {
    border: none;
    font-size: x-large;
}

legend {
    font-size: xx-large;
}

#sendForm {
    background-color: rgb(240, 200, 75);
    color: white;
    border-radius: 20px;
    border-color: rgb(251, 223, 140);     /*rgb(114, 234, 190)*/
    width: 99%;                            /*Longueur*/
    font-size:larger;                       /*Taille texte à l'intérieur*/
    padding: 10px;                          /*Espace intérieur*/
    position: absolute;
    bottom: 5px;
}